<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>eventsource</servlet-name>
        <servlet-class>io.iosquare.web.EventSourceServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>DataReceiverServlet</servlet-name>
        <servlet-class>io.iosquare.web.DataReceiverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eventsource</servlet-name>
        <url-pattern>/sse</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DataReceiverServlet</servlet-name>
        <url-pattern>/datareceiver</url-pattern>
    </servlet-mapping>

</web-app>
